body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

textarea#text1 {
    height: 150px;
    width: 100%;
    resize: none;
}

textarea[name="text1"]::placeholder {
    color: #3b90e5;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;   
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
}
  
input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid #47792d;
    border-radius: 5px;
    background-color: white;
}

input[type="checkbox"]:checked + label::before {
   background: linear-gradient(to bottom, #b5efb2, #50C900, #318c00); 
   border-color: #47792d; 
} 

div {
    display: inline-flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: -3px;
    left: -327px;
}